<div class="col-md-6 col-md-offset-3">
    <div class="descricao">
          <h2 class=" label label-info col-md-offset-3">Cadastrar Meus Dados</h2>
    </div>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name),  html: { class: 'form-inputs' }) do |f| %>
    <%= f.error_notification %>

        <div class="form-group">
          <%= f.input :nome, required: true, autofocus: true, class:"form-control", input_html:
                    {style:"max-width:500px;"} %>
        </div>

         <div class="form-inline">
            <div class="form-group">
                <%= f.input :cpf, required: true, class:"form-control"  %>
            </div>
            <div class="form-group">
                <%= f.input :foto, class:"form-control"  %>
            </div>
         </div>
         </br>
          <div class="form-inline">
            <div class="form-group">
              <%= f.input :sexo, collection: Usuario.sexos.keys.to_a, required: true, class:"selectpicker"  %>
            </div>
            <div class="form-group">
              <%= f.input :naturalidade, required: true , class:"form-control", input_html:
                    {style:"max-width:250px; min-width:208px;"}%>
            </div>
            <div class="form-group">
              <%= f.input :estadocivil, collection: Usuario.estadocivis.keys.to_a, required: true , class:"selectpicker", input_html:
                    {style:"max-width:140px;"}%>
            </div>
          </div>
       </br>
        <div class="form-inline">
          <div class="form-group">
              <%= f.input :email, required: true, class:"form-control", input_html:
                    {style:"min-width:276px;"} %>
            </div>
            
            <div class="form-group">
              <%= f.input :telefone, required: true , class:"form-control", input_html:
                    {style:"min-width:200px;"} %>
            </div>
        </div>
        </br>
         <div class="form-inline">
            <div class="form-group">
                <%= f.input :password, required: true, 
                placeholder: ("minimo #{@minimum_password_length} caracteres" if @minimum_password_length), input_html:
                    {style:"min-width:238px;"} %>  
            </div> 
            <div class="form-group">
                <%= f.input :password_confirmation, required: true , input_html:
                    {style:"min-width:238px;"}%>
            </div>    
        </div>
        </br>
        <div class="form-group">
          <%= f.input :resumo, label: "Fale mais um pouco sobre você",  class:"form-control", input_html:
                    {style:"max-width:500px; min-height:150px;"} %>
        </div>
    
    <div class="form-actions">
      <%= f.button :submit, "Registrar", class:"btn btn-primary" %>
    </div>
  <% end %>
  <hr>
  
  <%= render "devise/shared/links" %>
</div>