<div class="col-md-6 col-md-offset-4 w3-margin-top w3-card-4 w3-hover-shadow w3-round-xlarge">   

  <%= description_w3("Cadastre Seus Dados") %>
 <div class="w3-margin w3-container">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
    
              <div class="w3-row">
                 <div class="w3-col s7   w3-mobile">
                    <%= f.input :foto %>
                </div>
                <div class="w3-col s3  w3-right  w3-mobile">
                    <%= image_tag('user', height: '128', width: '128') %> 
                </div>
             </div>
             
             </br>
            
            <div class="w3-row">
                <div class="w3-col s12  w3-margin-right w3-mobile">
                    <%= f.input :nome, required: true, autofocus: true %>                  
                </div>
            </div>
    
             <div class="w3-row">
                <div class="w3-col s4  w3-margin-right w3-mobile">
                    <%= f.input :cpf, required: true%>
                </div>
                <div class="w3-col s7  w3-margin-right w3-mobile">
                    <%= f.input :nascimento, as: :date, start_year: Date.today.year - 100,
                              end_year: Date.today.year - 15 %>
                </div>             
            </div>
             </br>
            
             
             <div class="w3-row ">
                  <div class="w3-col s3 w3-margin-right w3-mobile">
                       <%= f.input :sexo, collection: Usuario.sexos.keys.to_a, required: true, class:"selectpicker"  %>
                  </div>
                  <div class="w3-col s4 w3-margin-right  w3-mobile">
                       <%= f.input :naturalidade, required: true, collection: CountryStateSelect.countries_collection %>
                  </div>
                  <div class="w3-col s3 w3-margin-right  w3-mobile">
                       <%= f.input :estadocivil, collection: Usuario.estadocivis.keys.to_a, required: true , class:"selectpicker" %>
                  </div>
             </div>
             
           </br>
           
            <div class="w3-row ">
              <div class="w3-col s7 w3-margin-right w3-mobile">
                    <%= f.input :email, required: true %>         
              </div>
              <div class="w3-col s4 w3-margin-right  w3-mobile">
                    <%= f.input :telefone, required: true %>
              </div>
            </div>
            
            </br>
            
             <div class="w3-row">
                <div class="w3-col s5 w3-margin-right  w3-mobile">
                    <%= f.input :password, required: true, 
                    placeholder: ("minimo #{@minimum_password_length} caracteres" if @minimum_password_length) %>  
                </div> 
                <div class="w3-col s5 w3-margin-right  w3-mobile">
                    <%= f.input :password_confirmation, required: true %>
                </div>    
            </div>
            
            </br>
            
            <div class="w3-row">
                <div class="w3-col s12 w3-margin-right  w3-mobile">
                  <%= f.input :resumo, label: "Fale mais um pouco sobre você",  input_html:
                            {style:"max-width:500px; min-height:150px;"} %>
                </div>
            </div>
        
        <div class="form-actions">
          <%= f.button :submit, "Registrar", class:"btn btn-success" %>
        </div>
      <% end %>
      <hr>
      
      <%= render "devise/shared/links" %>
  </div>
</div>