
<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
    <div class="descricao">
        <h2 class=" label label-info col-md-offset-2">Trocar sua senha</h2>
    </div>
  
  
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put,
         class: 'form-vertical'}) do |f| %>
    <%= f.error_notification %>
  
    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>
  
    <div class="form-inputs">
      <%= f.input :password, label: "Nova Senha", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, label: "Confirme sua nova senha", required: true %>
    </div>
  
    <div class="form-actions">
      <%= f.button :submit, "Trocar minha senha", class:"btn btn-warning" %>
    </div>
  <% end %>
  <hr>
  <%= render "devise/shared/links" %>
</div>
