<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
  
    <div class="descricao">
        <h2 class=" label label-info col-md-offset-4">Esqueceu sua senha?</h2>
    </div>
  
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post,
    class: 'form-vertical'}) do |f| %>
    <%= f.error_notification %>
  
    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
    </div>
  
    <div class="form-actions">
      <%= f.button :submit, "Enviar",class: 'btn btn-primary' %>
    </div>
  <% end %>
  <hr>
  <%= render "devise/shared/links" %>
</div>