

<div class="w3-card w3-margin-top">
  <p id="notice"><%= notice %></p>

  <%= description_w3('Vagas Disponiveis') %>
        
  <% unless @vagas.empty? %>
  <table class='w3-table w3-striped w3-hoverable w3-centered'>
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Especial</th>
        <th>Setor</th>
        <th>Salário</th>
        <th>Ações</th>
      </tr>
    </thead>
  
    <tbody>
      <% @vagas.each do |vaga| %>
       
        <tr >
          <td><%= vaga.descricao %></td>
          <td><%= vaga.especial %></td>
          <td><%= vaga.setor.descricao %></td>
          <td><%= vaga.salario %></td>
          <td ><%= button_to 'Detalhes', vaga, class: 'btn btn-info btn-xs', method: :get, 
                              form: {style: 'display:inline-block;'}%>
               <%= button_to 'Candidatar', vaga, class: 'btn btn-success btn-xs', method: :get,
                             form: {style: 'display:inline-block;'}%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="w3-bar w3-border">
  <a href="#" class="w3-button w3-hover-purple">&laquo;</a>
  <a href="#" class="w3-button w3-hover-green">1</a>
  <a href="#" class="w3-button w3-hover-red">2</a>
  <a href="#" class="w3-button w3-hover-blue">3</a>
  <a href="#" class="w3-button w3-hover-black">4</a>
  <a href="#" class="w3-button w3-hover-orange">&raquo;</a>
</div>
  <% else %>
      <div class="alert alert-info" role="alert">
          <strong>Não há vagas no momento</strong>:
      </div>
  <% end %>

</div>
