

<div class="w3-card-8 w3-margin-top w3-round-xlarge">
  <p id="notice"><%= notice %></p>

  <%= description_w3('Vagas Disponiveis') %>
  
  <div class="w3-row w3-card w3-margin w3-mobile">
     
    <div class="filtros w3-row s12 w3-margin-left w3-mobile ">
      <%= search_form_for @q do |f| %>
       
        <div class="w3-col s3 w3-margin-botton w3-mobile ">
          <%= f.label :descricao_cont %>
          <%= f.search_field :descricao_cont %>
        </div>
        
        
        <div class="w3-col s3 w3-margin-botton w3-mobile ">
          <%= f.label "Setor" %>
          <%= f.collection_select :setor_id_eq, Setor.where(status: 1), :id, :descricao, include_blank: true %>
        </div>
        
        <div class="w3-col s2 w3-margin-botton w3-mobile">
          <%= f.label "Necessidades especiais" %>
          <%= f.select :especial_eq, Vaga.especiais,
            include_blank: true
            %>
        </div>
       
       
        <div class="w3-col s2  w3-margin-top w3-margin-botton w3-right w3-mobile">
          <%= f.submit class: "w3-btn w3-green" %>
        </div>
      <% end %>
        
    </div>
      
  </div>
        
  <% unless @vagas.empty? %>
  <table class='w3-table w3-striped w3-hoverable '>
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Especial</th>
        <th>Setor</th>
        <th>Salário</th>
        
      </tr>
    </thead>
  
    <tbody>
      <% @vagas.each do |vaga| %>
       
        <tr>
          <td><%= vaga.descricao %></td>
          <td><%= vaga.especial %></td>
          <td><%= vaga.setor.descricao %></td>
          <td><%= number_to_currency vaga.salario %></td>
          <td ><%= button_to 'Mais Detalhes', vaga, class: 'btn btn-info btn-xs', method: :get, 
                              form: {style: 'display:inline-block;'}%>
               <%= button_to 'Candidatar', new_candidato_path, class: 'btn btn-success btn-xs', method: :get, 
                              form: {style: 'display:inline-block;'}, params: {vaga: vaga.id}%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="w3-bar w3-card fa-2x w3-center">
    <%= will_paginate @vagas %>
  </div>
  <% else %>
      <div class="alert alert-info" role="alert">
          <strong>Nem uma vaga disponivel no momento</strong>:
      </div>
  <% end %>

</div>
