<div class=" w3-card-4 w3-hover-shadow w3-round-xlarge">
    <div class="col-offset-0">
        <p id="notice"><%= notice %></p>
        
        <%= description_w3(@vaga.descricao) %>
        
        <p><strong>Especial :</strong> <%= @vaga.especial %></p>
        <p><strong>Setor :</strong> <%= @vaga.setor.descricao %></p>
        <p><strong>Salário :</strong> <%= @vaga.salario %></p>
        <p><strong>Requisitos :</strong> <%= @vaga.requisitos %></p>
    </div>

    <div class="w3-container w3-center">
      <%= button_to 'Candidatar', "#", class: 'btn btn-success', method: :get,
          form: {style: 'display:inline-block;'}%>
      <%= button_to 'Voltar', :back, class: 'btn btn-danger', method: :get,
          form: {style: 'display:inline-block;'} %>
    </div>
    
</div>