<div class="nested-fields s6 w3-card-8 w3-round-xlarge w3-col w3-margin-top w3-mobile">
   <div class="fields w3-margin w3-row">
       
       <%=  f.input :descricao  %>
       
       <%=  f.input :anos_exp %>
  
       <%=  f.input :meses_exp  %>
       
       <%=  f.input :dias_exp  %>
       
       <%=  f.input :pretensao_sal  %>
       
       <%=  f.input :observacao  %>
       
       <%= link_to_remove_association "Remover", f, class:"w3-button w3-red" %>
   </div>
</div>