<div class="nested-fields s6 w3-card-8 w3-round-xlarge w3-col w3-margin-top w3-mobile">
   <div class="fields w3-margin w3-row">
       
       <%=  f.input :descricao  %>
       
       <%= f.input :entidade %>
       
       <%=  f.input :inicio  %>
       
       <%=  f.input :desenvolvimento, collection: Cargo.desenvolvimentos.keys.to_a, default: 'NÂO',
                                       class:"selectpicker", id:'curriculo_cargos'%>
       <%=  f.input :fim  %>
       
       <%=  f.input :ultimo_sal  %>
       
       <%=  f.input :detalhes  %>
       
       <%= link_to_remove_association "Remover", f, class:"w3-button w3-red" %>
   </div>
</div>