<div class="nested-fields s6 w3-card-8 w3-round-xlarge w3-col w3-margin-top w3-mobile">
   <div class="fields w3-margin w3-row">
    
        <div class="descricao0 w3-row">
            <div class="descricao1 w3-col s12 w3-margin-right">
                <%=  f.input :descricao%>
            </div>
        </div>      
        
        <div class="w3-row">
            <div class="w3-col s12 w3-margin-right">
                <%= f.input :entidade %>     
            </div>
        </div>    
        
        
        <div class="w3-row">
            <div class="w3-col s12 w3-margin-right">
                 <%=  f.input :inicio, start_year: Date.today.year - 100,
                              end_year: Date.today.year  %>
            </div>
        </div>      
        
        <div class="desenvolvimento0 w3-row">
            <div class="desenvolvimento1 w3-col s3 w3-margin-right">
                 <%=  f.input :desenvolvimento, collection: Cargo.desenvolvimentos.keys.to_a, include_blank: false, default: 'NÂO',
                                       class:"selectpicker"%>
            </div>
        </div>
        
        <div class="fim0 w3-row">
            <div class="fim1 w3-col s12 w3-margin-right">
                  <%=  f.input :fim , as: :date, start_year: Date.today.year - 100,
                              end_year: Date.today.year %>
            </div>
        </div>   
        
        <div class="salario0 w3-row">
            <div class="salario1 w3-col s4 w3-margin-right">
                 <%=  f.input :ultimo_sal, input_html: { type: "text"}  %>
            </div>
        </div>   
       
        <div class="w3-row">
            <div class="w3-col s12 w3-margin-right">
                <%=  f.input :detalhes  %>
             </div>
        </div>   
      
   
       <%= link_to_remove_association "Remover", f, class:"w3-button w3-red" %>
   </div>
</div>