<div>
    <%= simple_form_for(@curriculo) do |f_curriculo| %>
        <%= f_curriculo.error_notification %>
        
        <div class="w3-row w3-margin w3-card-8">
          
             <div class="curriculo-cabecalho w3-center w3-blue">
                  Experiências Profissionais
             </div>
    
             <div id="cargos">
               <%= f_curriculo.simple_fields_for :cargos do |fc| %>
                  <%= render 'cargo_fields', f: fc %>
                  
               <% end %>
                <div class='links'>
                    <%= link_to_add_association '+ Cargo', f_curriculo, :cargos, class:"w3-badge w3-green w3-margin"%>
                </div>
             </div>
            
        </div>
        
        
      <div class="w3-row w3-margin w3-card-8">
      
         <div class="curriculo-cabecalho w3-center w3-blue">
              Cargos de meu interesse
         </div>

         <div id="cargo_pretendidos">
           <%= f_curriculo.simple_fields_for :cargo_pretendidos do |fcp| %>
              <%= render 'cargo_pretendido_fields', f: fcp %>
              
           <% end %>
            <div class='links'>
                <%= link_to_add_association '+ Cargo Pretendido', f_curriculo, :cargo_pretendidos, class:"w3-button w3-green w3-margin"%>
            </div>
         </div>
        
      </div>
      
      <div class="w3-row w3-margin w3-card-8">
      
         <div class="curriculo-cabecalho w3-center w3-blue">
              Meus Títulos (Cursos Técnicos, Faculdades, outros)
         </div>

         <div id="titulos">
           <%= f_curriculo.simple_fields_for :titulos do |ft| %>
              <%= render 'titulo_fields', f: ft %>
              
           <% end %>
            <div class='links'>
                <%= link_to_add_association '+ Título', f_curriculo, :titulos, class:"w3-badge w3-green w3-margin"%>
            </div>
         </div>
        
      </div>
      
      
      <div class="w3-row w3-margin w3-card-8">
      
         <div class="curriculo-cabecalho w3-center w3-blue">
              Meus Idiomas
         </div>

         <div id="idioma_curriculos">
           <%= f_curriculo.simple_fields_for :idioma_curriculos do |fi| %>
              <%= render 'idioma_curriculo_fields', f: fi %>
              
           <% end %>
            <div class='links'>
                <%= link_to_add_association '+ Idioma', f_curriculo, :idioma_curriculos, class:"w3-badge w3-green w3-margin"%>
            </div>
         </div>
        
      </div>
        
        
        <div class="w3-row w3-margin w3-card-8">
          
             <div class="curriculo-cabecalho w3-center w3-blue">
                  Deixe aqui outras observações que queira fazer sobre seu curriculo, sua situação atual entre outros
             </div>
             
             <div class="w3-row">
                 <div class="w3-col s12 w3-mobile">
                    <%= f_curriculo.input :observacao, label: false,  error: true, input_html: {style: "min-height: 150px;"} %>
                </div>
             </div>
            
        </div>
         
          
        
      
       <div class="w3-row w3-margin">
        <%= f_curriculo.button :submit, class:"btn btn-warning" %>
       </div>
    <% end %>
</div>