<div class="nested-fields s6 w3-card-8 w3-round-xlarge w3-col w3-margin-top w3-mobile">
   <div class="fields w3-margin w3-row">
       
       <%=  f.input :descricao  %>
       
       <%=  f.input :entidade  %>
    
       <%=  f.input :modalidade, collection: Titulo.modalidades.keys.to_a, include_blank: false, class:"selectpicker"  %>
      
       <%=  f.input :grau, collection: Titulo.graus.keys.to_a, include_blank: false, class:"selectpicker" %>
       
       <%= f.input :ano, collection: (Time.zone.now.year - 80)..(Time.zone.now.year ) %>
       
       <%=  f.input :duracao  %>
       
       <%=  f.input :desenvolvimento, collection: Titulo.desenvolvimentos.keys.to_a,
               include_blank: false, class:"selectpicker"%>
       
       <%=  f.input :observacao  %>
       
       <%= link_to_remove_association "Remover", f, class:"w3-button w3-red" %>
   </div>
</div>