<div>
    <%= simple_form_for(@candidato) do |f| %>
        <%= f.error_notification %>
        <%= description_w3("Candidatar: "+@vaga.descricao) %>
        <div class="w3-center">
            <%=  %>
        </div>
        <%= f.input :vaga_id, as: :hidden, input_html: { value: @vaga.id }%>
        <div class="w3-row">
            <div class="w3-col s12  w3-margin-right w3-mobile">
                <%= f.input :observacao, label: "Descreva porquê você deseja essa vaga (Opcional)", 
                error: true, input_html:{style: "min-height: 150px;"}%>
            </div>
        </div>
       
        <%= f.button :submit, "Salvar", class: "btn btn-success" %>
    
    <% end %>
</div>