<div class="w3-card w3-margin-top">
  <%= description_w3('Vagas que estou concorrendo') %>
  <table class='w3-table w3-striped w3-hoverable w3-centered'>
    <thead>
      <tr>
        <th>Descrição da Vaga</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
  
    <tbody>
      <% @candidatos.each do |candidato| %>
        <tr>
          <td><%= candidato.vaga.descricao %></td>
          <td><%= candidato.vaga.status %></td>
          <td><%= button_to 'Mais Detalhes', candidato, class: 'btn btn-info btn-xs', method: :get, 
                              form: {style: 'display:inline-block;'}%>
               <%= button_to 'Cancelar', candidato, class: 'btn btn-danger btn-xs', method: :delete, 
                              form: {style: 'display:inline-block;'},  data: { confirm: 'Deseja realmente
                              desistir desta vaga?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <br>
  
  <%= link_to 'Candidatar a outras vagas', vagas_path %>
</div>