
<h1>Vagas que me candidatei</h1>

<table>
  <thead>
    <tr>
      <th>Contratado</th>
      <th>Vaga</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @candidatos.each do |candidato| %>
      <tr>
        <td><%= candidato.contratado %></td>
        <td><%= candidato.vaga.descricao %></td>
        <td><%= link_to 'Detalhes da Vaga', candidato %></td>
        <td><%= link_to 'Cancelar', candidato, method: :delete, data: { confirm: 'Deseja realmente
        desistir desta vaga?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Candidatar a outras vagas', vagas_path %>
