<div class="cabecalho w3-left">
  <ul class="lista-menu nav navbar-nav text-uppercase w3-xlarge ">
     <li class="w3-margin-right ">
       <%= image_tag("capul_logo.png", height: '64', width: '145') %>
     </li>
     <li>
       <%= link_to root_path do %>
         <i class="fa fa-home"></i>
        <span>HOME</span>
       <%end%>
     </li>
     <li>
       <%= link_to vagas_path do %>
          <i class= "fa fa-search"></i>
          VER VAGAS
        <%end%>
     </li>
    <% if usuario_signed_in? %>
        <li class="w3-dropdown-hover">
              <%= link_to '' do %>
                <i class="fa fa-id-card-o"></i>
                MEUS DADOS
              <%end%>
              <div class="w3-dropdown-content w3-border w3-card-4 " style="min-width: 200px;">
                 <%= link_to edit_usuario_registration_path(current_usuario) do %>
                 <i class= "submenu fa fa-user"></i>
                 PESSOAIS
              <%end%>
              <%= link_to curriculo_path(current_usuario.curriculo) do %>
                 <i class= "submenu fa fa-id-card"></i>
                 CURRICULO
              <%end%>
               
             </div>
        </li>
  
        <li>
          <%= link_to(candidatos_path) do %>
            <i class="fa fa-hourglass-2"></i>
            CONCORRENDO
          <%end%>
        </li>
        
        <li >
          <%= link_to destroy_usuario_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>
            SAIR
          <%end%>
        </li>
    
    <% else %>
        <li class="w3-dropdown-hover">
          <%= link_to '' do %>
              <i class="fa fa-unlock"></i>
              ACESSO  
          <%end%>
          <div class="w3-dropdown-content w3-border w3-bar-block " style="min-width: 200px;">
              <%= link_to new_usuario_session_path, class: "w3-bar-item" do %>
                  <i class="fa fa-sign-in"></i>
                  ENTRAR
              <%end%>
              <%= link_to new_usuario_registration_path, class: "w3-bar-item" do %>
                   <span class="fa fa-user-o" > REGISTRAR</span>
              <%end%>
              
         </div>
      </li>
    <% end %>
    
  </ul>
</div>