<div class="w3-center">
  <ul class="nav navbar-nav text-uppercase ">
     <li>
       <%= link_to "Home", root_path, :class => 'brand' %>
     </li>
     <li>
        <%= link_to('Vagas Ofertadas', vagas_path)  %>
     </li>
    <% if usuario_signed_in? %>
        <li >
          <%= link_to('Meus Dados', edit_usuario_registration_path) %>
        </li>
        <li >
          <%= link_to('Meu Curriculo', "#") %>
        </li>
        <li>
          <%= link_to('Concorrendo', "#") %>
        </li>
        
        <li>
          <%= link_to('Sair', destroy_usuario_session_path, :method=>'delete') %>        
        </li>
    
    <% else %>
        <li>
          <%= link_to('Entrar', new_usuario_session_path)  %> 
        </li>
        <li>
          <%= link_to('Registrar', new_usuario_registration_path)  %>
        </li>
    <% end %>
  </ul>
</div>