<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Curriculo" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=PT+Sans"/>
    
    <%= csrf_meta_tags %>
    <%= yield(:head) %> 
     
    
  </head>
  <body>
   <header role="banner" class="cabecalho navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="cabecalho navbar-header">
          <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="navbar-toggle pull-left"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="cabecalho navbar-inverse side-collapse in">
          <nav role="cabecalho navigation" class="navbar-collapse">
            <%= render "layouts/navigation" %>
          </nav>
        </div>
      </div>
    </header>
    <div class="conteudo container side-collapse-container w3-margin-top">
      <div class="row">
        <%= render "layouts/messages" %>
        <%= yield %>
      </div>
    </div>
    
    
    <% if controller.controller_name == "home" %>
      <footer class="w3-row w3-margin-top">
        
        <div class="w3-display-container"></div>
          <div class="w3-col w3-margin-left w3-left-align w3-xlarge s3 w3-mobile">
              <h4>CAPUL - Cooperativa Agropecuária Unaí Ltda</h4>
              <h5>Rua Prefeito João Costa, nº 1375</h5>
              <h5>Bairro Planalto - Unaí - MG</h5>
              <h5>CEP: 38610-000</h5>
          </div>
          
          <div class="w3-margin-bottom w3-margin-left w3-display-bottomleft">
             <%= image_tag("capul_logo.png", height: '64', width: '128') %>
          </div>
        </div>
        
        <div class="w3-col s7 ">
      	  <div class="row-fluid">
              <div class="span8">
              	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30625.00038166426!2d-46.89607073479564!3d-16.367591163031914!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x29b360dc216734e9!2sCapul!5e0!3m2!1spt-BR!2sbr!4v1487537857763" width="1200" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
          	</div>
          </div>
        </div>
      
      </footer>
    <% end %>

    
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>

    

  </body>
    

</html>

